.az-slideshow
{
    position: relative;
    width: 100%;
}

    .az-slideshow slide
    {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

        .az-slideshow slide > img
        {
            vertical-align: middle;
            width: 100%;
        }

        .az-slideshow slide > div
        {
            position: absolute;
            z-index: 2;
            bottom: 8px;
            background-color: #000000;
            opacity: 0.8;
            text-align: center;
        }

        .az-slideshow slide > div > h1
        {
            padding: 14px;
            text-transform: uppercase;
            color: #E8941A;
        }

            .az-slideshow slide > div > a
            {
                font-size: 22px;
                color: #2da1c5;
            }

                .az-slideshow slide > div > a:hover
                {
                    color: #2588a6;
                }

                    .az-slideshow slide > div > a:hover i
                    {
                        margin-left: 30px;
                    }

                .az-slideshow slide > div > a i
                {
                    margin-left: 15px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }


    .az-slideshow .az-arrows
    {
        font-size: 50px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .az-slideshow .az-arrows:hover
    {
        font-size: 60px;
    }

    .az-slideshow .az-arrow-left
    {
    }

    .az-slideshow .az-arrow-right
    {
        margin-right: 7px;
    }

@media (max-width: 576px)
{
    .az-slideshow .az-arrows
    {
        font-size: 30px;
    }

        .az-slideshow .az-arrows:hover
        {
            font-size: 35px;
        }
}
